@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;700&display=swap");

body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
}

main {
  background-image: url(./images/bg-stars.svg),
    linear-gradient(rgb(21, 19, 27), hsl(266deg 21% 13%/ 93%));
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 70vh;
  @media only screen and (max-width: 700px) {
    height: auto;
  }
  .timer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;
    .title {
      text-transform: uppercase;
      color: white;
      font-size: 20px;
      font-weight: 600;
      margin: 2em 0em;
      letter-spacing: 6px;
      @media only screen and (max-width: 700px) {
        font-size: 16px;
      }
    }
    .timer {
      margin: 2em 0em;
      flex-direction: row;
      display: flex;
      column-gap: 30px;
      @media only screen and (max-width: 700px) {
        flex-direction: column;
      }
      .count {
        .timer_action {
          box-shadow: 0px 10px 2px rgb(26, 24, 34);
          position: relative;
          .top {
            width: 150px;
            height: 70px;
            background: radial-gradient(
                  circle 5px at bottom left,
                  #0000 90%,
                  hsl(236deg 21% 26% / 60%)
                )
                top left,
              radial-gradient(
                  circle 5px at bottom right,
                  #0000 90%,
                  hsl(236deg 21% 26% / 60%)
                )
                top right;
            background-size: 50% 100%;
            background-repeat: no-repeat;
            border-radius: 5px 5px;
          }
          .bottom {
            border-radius: 5px 5px;
            width: 150px;
            height: 70px;
            background: radial-gradient(
                  circle 5px at top left,
                  #0000 90%,
                  hsl(236, 21%, 26%)
                )
                top left,
              radial-gradient(
                  circle 5px at top right,
                  #0000 90%,
                  hsl(236, 21%, 26%)
                )
                top right;
            background-size: 50% 100%;
            background-repeat: no-repeat;
          }
          #days,
          #hrs,
          #mins,
          #seconds {
            background-color: transparent;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 70px;
            font-weight: bold;
            color: hsl(345, 95%, 68%);
            // animation: loader 1s infinite;
          }
        }

        hr {
          height: 2px;
          background-color: #0000001a;
          position: absolute;
          border-bottom: none;
          border-top: 1px solid #47525d;
          border-left: none;
          border-right: none;
          width: 70%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .timer_text {
          margin-top: 30px;
          font-size: 16px;
          text-transform: uppercase;
          color: hsl(237, 18%, 59%);
          font-weight: bold;
          letter-spacing: 5px;
        }
      }

      // @keyframes loader {
      //   0% {
      //       rotate: 0deg;
      //     transform: rotateX(90deg);
      //       transition: 0.1s;
      //       transform-style: preserve-3d;
      //   }
      //   100% {
      //     transform: rotateX(0deg);
      //   }
      // }
    }
  }
}

footer {
  background-image: url("./images/pattern-hills.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30vh;
  width: 100%;
  background-color: hsl(266deg 21% 13% / 93%);
  display: flex;
  justify-content: center;
  align-items: center;
  .fab {
    font-size: 25px;
    margin-right: 20px;
    color: hsl(237, 18%, 59%);
    &:hover {
      color: hsl(345, 95%, 68%);
    }
  }
}
